# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,

@core_ui_team = @edda @andypf @ArtieReus @hgw77 @hodanoori @tilmanhaupt

* @core_ui_team
/libs/juno-ui-components/ @core_ui_team @franzheidl  