.turbo
.DS_Store
.vscode
node_modules
npm-debug.log*
build
dist
appProps.js*
secretProps.js*
authToken.js*
vite.config.*.timestamp-*
# pnpm virtual store directory
.pnpm/

# pnpm local package store (if configured locally)
.pnpm-store/

# act artifacts needed for testing workflows
.secrets
.env
act_*.json
.secret
# Ignore generated route tree files in all apps
# as it will auto generate on build or starting an application
**/routeTree.gen.ts
