/*
 * SPDX-FileCopyrightText: 2024 SAP SE or an SAP affiliate company and Juno contributors
 * SPDX-License-Identifier: Apache-2.0
 */

.datagrid-row {
  display: contents;
}

/* Persistent active state */
.datagrid-row-active > * {
  background-color: var(--color-background-lvl-2);
}

.datagrid-row-hoverable:hover > * {
  cursor: pointer;
  background-color: var(--color-background-lvl-1);
}

/* Transient active state e.g. onclick */
.datagrid-row-hoverable:active > * {
  background-color: var(--color-background-lvl-2);
}
