/*
 * SPDX-FileCopyrightText: 2024 SAP SE or an SAP affiliate company and Juno contributors
 * SPDX-License-Identifier: Apache-2.0
 */

.juno-input-group {
  // Remove border-radius for specific elements within the input group
  .juno-button,
  .juno-textinput {
    // Remove border-radius for elements that are neither the first nor the last child
    &:not(:first-child, :last-child) {
      border-radius: 0;
    }
    // Adjust border-radius for the first child element
    &:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    // Adjust border-radius for the last child element
    &:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  /*
   * Adjust border-radius for the Select component
   * that has a special case when it is supplied with a 'label'
   * which renders before .juno-select-toggle element and in that case 
   * it is no longer the first-child therefore we need to use 'first-of-type' pseudo selector.
   */
  .juno-select-toggle {
    &:first-of-type {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    &:last-of-type {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  // Prevent double borders for identical button variants placed next to each other
  .juno-button-default + .juno-button-default,
  .juno-button-primary + .juno-button-primary,
  .juno-button-default-primary-danger + .juno-button-primary-danger,
  .juno-button-subdued + .juno-button-subdued {
    border-left: 0;
  }
}
