/*
 * SPDX-FileCopyrightText: 2024 SAP SE or an SAP affiliate company and Juno contributors
 * SPDX-License-Identifier: Apache-2.0
 */

.juno-input-group {
  // Remove border-radius for specific elements within the input group
  .juno-combobox-input-wrapper,
  .juno-button,
  .juno-select-wrapper,
  .juno-select-toggle-wrapper,
  .juno-textinput-outer-wrapper {
    // Remove border-radius for elements whose parent is neither the first nor the last child
    &:not(:first-child, :last-child) {
      // This applies to the cases where an element is not wrapped inside a parent element like in the case of a 'Button' component
      border-radius: 0;

      .juno-select-toggle,
      .juno-select,
      .juno-combobox-input,
      .juno-textinput {
        border-radius: 0;
      }
    }
    // Adjust border-radius for elements whose parent is the first child
    &:first-child {
      // This applies to the cases where an element is not wrapped inside a parent element like in the case of a 'Button' component
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;

      .juno-select-toggle,
      .juno-select,
      .juno-combobox-input,
      .juno-textinput {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
    // Adjust border-radius for elements whose parent is the last child
    &:last-child {
      // This applies to the cases where an element is not wrapped inside a parent element like in the case of a 'Button' component
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;

      .juno-select-toggle,
      .juno-select,
      .juno-combobox-input,
      .juno-textinput {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }

  // Prevent double borders for identical button variants placed next to each other
  .juno-button-default + .juno-button-default,
  .juno-button-primary + .juno-button-primary,
  .juno-button-default-primary-danger + .juno-button-primary-danger,
  .juno-button-subdued + .juno-button-subdued {
    border-left: 0;
  }
}
