// SPDX-FileCopyrightText: 2024 SAP SE or an SAP affiliate company and Juno contributors
// SPDX-License-Identifier: Apache-2.0

body {
  margin: 0;
  overflow: hidden;
  display: flex;
  height: 100vh;
  #root {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}
