/*
 * SPDX-FileCopyrightText: 2024 SAP SE or an SAP affiliate company and Juno contributors
 * SPDX-License-Identifier: Apache-2.0
 */

.dt {
  display: grid;
  align-items: center;
  border-bottom: 1px solid var(--color-dd-dt-border);
  background-color: var(--color-dt-background);
  color: var(--color-dt-text);
  font-weight: bold;
  gap: 0.25rem;
  grid-column: 1;
  height: 2rem;
  white-space: nowrap;
}
