/*
 * SPDX-FileCopyrightText: 2024 SAP SE or an SAP affiliate company and Juno contributors
 * SPDX-License-Identifier: Apache-2.0
 */

.dt {
  background-color: var(--color-dt-background);
  font-weight: bold;
  color: var(--color-dt-text);
  display: flex;
  align-items: center;
  height: 2rem;
  padding: 0.5rem;
  white-space: nowrap;
  gap: 0.25rem;
}
