/*
 * SPDX-FileCopyrightText: 2024 SAP SE or an SAP affiliate company and Juno contributors
 * SPDX-License-Identifier: Apache-2.0
 */

.dl {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
}
