/*
 * SPDX-FileCopyrightText: 2024 SAP SE or an SAP affiliate company and Juno contributors
 * SPDX-License-Identifier: Apache-2.0
 */

.dl {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.dl > div {
  display: contents;
}

.dl.align-left .dt {
  text-align: left;
}

.dl.align-right .dt {
  text-align: right;
}
