// SPDX-FileCopyrightText: 2024 SAP SE or an SAP affiliate company and Greenhouse contributors
// SPDX-License-Identifier: Apache-2.0

/* Do not remove these tailwind directives. Without them styles won't work as expected */
@tailwind base;
@tailwind components;
@tailwind utilities;

.info-box {
  h4 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    padding-top: 10px;
  }
  p {
    padding-bottom: 10px;
  }
}

// datagrid row hover style
// REMOVE THIS ONCE DATAGRID COMPONENT SUPPORTS HOVER
.violations-list .juno-datagrid-row:hover {
  .juno-datagrid-cell {
    @apply bg-theme-background-lvl-1;
  }
}

.juno-datagrid-row.active {
  .juno-datagrid-cell {
    @apply bg-theme-background-lvl-2;
  }
}
