/*
 * SPDX-FileCopyrightText: 2024 SAP SE or an SAP affiliate company and Juno contributors
 * SPDX-License-Identifier: Apache-2.0
 */

.dd {
  background-color: var(--color-dd-background);
  border-bottom: 1px solid var(--color-dd-dt-border);
  color: var(--color-dd-text);
  display: flex;
  align-items: center;
  height: 2rem;
  padding: 0.5rem;
  gap: 0.25rem;
}
