/*
 * SPDX-FileCopyrightText: 2024 SAP SE or an SAP affiliate company and Juno contributors
 * SPDX-License-Identifier: Apache-2.0
 */

.dd {
  display: grid;
  align-items: center;
  border-bottom: 1px solid var(--color-dd-dt-border);
  background-color: var(--color-dd-background);
  color: var(--color-dd-text);
  gap: 0.25rem;
  grid-column: 2;
  height: 2rem;
}
