.juno-pagefooter {
  font-size: 0.875rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.juno-pagefooter-title {
  font-weight: bold;
  color: var(--color-pagefooter-title, var(--text-color-theme-pagefooter));
}

.juno-pagefooter-items {
  list-style: none;
  padding: 0;
  margin: 0;
}

.juno-pagefooter-items-inline {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.juno-pagefooter-items-inline > li {
  position: relative;
}

.juno-pagefooter-items-inline > li:not(:last-child)::after {
  content: "|";
  margin-left: 0.38rem;
  margin-right: 0.38rem;
}

.juno-pagefooter-items-inline > li:last-child::after {
  content: "";
  margin-right: 0;
}

.juno-pagefooter-item {
  color: var(--color-pagefooter-item-default);
  flex: 1;
  min-width: 12.5rem;
  max-width: 22rem;
  line-height: 1.25rem;
  margin-bottom: 0.13rem;
}

.juno-pagefooter-item:hover {
  color: var(--color-pagefooter-item-hover);
  text-decoration: underline;
}

.juno-pagefooter-item:active {
  color: var(--color-pagefooter-item-active);
  text-decoration: none;
}

.juno-content {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top: 1px solid var(--color-pagefooter-border);
  display: flex;
  gap: 6.75rem;
}

.juno-pagefooter-children {
  display: flex;
  gap: 1rem;
  flex-grow: 1;
}

.juno-pagefooter-children > * {
  flex-grow: 1; /* Allows each child to grow and fill the container equally */
}

.juno-pagefooter-copyright {
  margin-left: auto;
  text-align: right;
  color: var(--footer-text-color);
}
