# Run it locally with act
#  1. Install act:
#     `brew install act`
#  2. Create a .secret file with the following content:
#     `GITHUB_TOKEN=your_github_token`
#  PULL REQUEST
#  1. Create a act_pull_request.json file in case of a pull request with the following content:
#     `{"pull_request": {"number": <PR number>, "head": {"ref": "<PR branch name>", "sha": "PR commit sha"}, "base": {"ref": "main"}}, "repository": {"name": "juno", "owner": {"login": "cloudoperators"}}}`
#  2. Run the following command:
#     `act pull_request --container-architecture linux/amd64 -P default=catthehacker/ubuntu:act-latest  -j run-pipeline -e act_pull_request.json -W .github/workflows/ci-npm-packages.yaml`

name: Detect Changes and trigger Pipeline

on:
  pull_request:
    types: [opened, synchronize, reopened]
    paths:
      - "apps/**"
      - "libs/**"

jobs:
  detect-changes:
    uses: cloudoperators/juno/.github/workflows/check-changes-npm-package.yaml@workflows-name-convention
    with:
      paths: "apps libs"

  run-pipeline:
    needs: [detect-changes]
    strategy:
      matrix:
        change: ${{fromJson(needs.detect-changes.outputs.changes)}}
        node: [20.x]
      fail-fast: false # Allow other jobs to continue if one fails
    uses: cloudoperators/juno/.github/workflows/pipeline-npm-package.yaml@workflows-name-convention
    with:
      path: ${{ matrix.change }}
      node: "${{ matrix.node }}"
