# Run it locally with act
#  1. Install act:
#     `brew install act`
#  2. Create a .secret file with the following content:
#     `GITHUB_TOKEN=your_github_token`
# WORKFLOW CALL
# 1.Create a act_workflow_call.json file with the following content:
#     `{"inputs": {"path": "libs/communicator", "node": "20.x"}}`
# 2. Run the following command:
#     `act workflow_call --eventpath act_workflow_call.json --container-architecture linux/amd64 -P default=catthehacker/ubuntu:act-latest -j publish-to-npm`

name: Publish to NPM

on:
  workflow_call:
    inputs:
      path:
        description: "Path to the npm package"
        required: true
        type: string
      node:
        description: "Node version to use"
        required: true
        type: string

jobs:
  publish-to-npm:
    runs-on: [ubutnu-latest]
    defaults:
      run:
        working-directory: ${{ inputs.path }} # Set the working directory for all steps in this job
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Print Inputs
        run: |
          echo "====${{ github.workflow }} Inputs===="
          echo "Inputs: ${{ toJson(inputs) }}"
          echo "===="

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ inputs.node }}

      - name: Publish package
        run: |
          echo "==="
          echo "We would now publish!!!!"
          echo "==="
