# Run it locally with act (https://github.com/nektos/act)
#  1. Install act:
#     `brew install act`
#  2. Create a .secret file with the following content:
#     `GITHUB_TOKEN=your_github_token`
# WORKFLOW CALL
# 1.Create a act_workflow_call.json file with the following content:
#     `{"inputs": {"path": "libs/communicator", "node": "20.x", "runs-on": "ubuntu-latest"}}`
# 2. Run the following command:
#     `act workflow_call --eventpath act_workflow_call.json -j publish-to-npm`

name: Publish to NPM

on:
  workflow_call:
    inputs:
      path:
        description: "Path to the npm package"
        required: true
        type: string
      node:
        description: "Node version to use"
        required: true
        type: string
      runs-on:
        description: "The runner to use for the job"
        required: false
        default: "default"
        type: string

jobs:
  publish-to-npm:
    runs-on: ${{ inputs.runs-on}}
    defaults:
      run:
        working-directory: ${{ inputs.path }} # Set the working directory for all steps in this job
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          # Fetch only the path
          sparse-checkout: l${{ inputs.path }}

      - name: Print Inputs
        run: |
          echo "====${{ github.workflow }} Inputs===="
          echo "Inputs: ${{ toJson(inputs) }}"
          echo "===="

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ inputs.node }}
          registry-url: "https://registry.npmjs.org"

      - name: Clean install
        run: npm ci

      - name: Publish package
        run: npm publish --provenance --access public --dry-run
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
