name: REUSE Compliance Check

on:
  # push:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  test:
    runs-on: [ubuntu-latest]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      # https://github.com/fsfe/reuse-action
      - name: REUSE Compliance Check
        uses: fsfe/reuse-action@v3
      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: "20.x"
      - name: build libs
        run: |
          NODE_ENV=production npm ci
          npm run build-libs
      # MIT, Apache License 2.0, BSD 2-clause License, ISC License
      - name: check license
        run: |
          npm install -g license-checker
          license-checker -onlyAllow "MIT;ISC;Apache-2.0;BSD-2-Clause;BSD-3-Clause;BSD-4-Clause"
