name: "Vulnerability Check"

on:
  pull_request:
    types:
      - opened
      - edited
      - synchronize
      - reopened
    paths:
      - "**/package-lock.json"
      - "**/package.json"

permissions:
  contents: read
  security-events: read

jobs:
  dependency-review:
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout Repository"
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: "Run Vulnerability Check"
        id: dep-review
        uses: actions/dependency-review-action@3c4e3dcb1aa7874d2c16be7d79418e9b7efd6261 # v4.8.2
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          fail-on-severity: low
